@model dwindlist.Models.ViewModel.FilteredList
@{
    ViewData["Title"] = "Home Page";
}

<h1>dwindlist</h1>
<div id="breadcrumbs">
<a href="/TodoItem/Index">dwindlist</a>
> @Model.Label
</div>

<div class="container mt-4">
    <div class="row">
        <div id="todo-list">
            @foreach(var item in Model.Items)
            {
            <div class="input-group mb-3" style="width: 100%;">
                <div class="input-group-prepend" style="width: 30px;">
                    <div class="input-group-text">
                        <input type="checkbox" class="toggle-status" id="toggle-status@(item.Id)" value="@item.Id" aria-label="Main Checkbox" @(item.Status == 'c' ? "checked" : "")>
                    </div>
                </div>
                <input type="text" style="text-decoration: @(item.Status == 'c' ? "line-through" : "none");" disabled="true" class="form-control" id="edit-item-label@(item.Id)" aria-label="Text input with checkbox" value="@item.Label">
                <a href="/TodoItem/Index/@(item.Id)"><button class="btn btn-sm btn-secondary expand-item" id="expand-item@(item.Id)" value="@item.Id">Focus</button></a>
                <button class="btn btn-sm btn-success edit-item" id="edit-item@(item.Id)" value="@item.Id">Edit</button>
                <button class="btn btn-sm btn-primary save-item" id="save-item@(item.Id)" value="@item.Id" hidden>Save</button>
                <button class="btn btn-sm btn-danger">Delete</button>
                @*TODO: breadcrumbs*@
            </div>
            }
        </div>

        <!-- Navigation Bar Column (Left) -->
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(Model.Label == "Completed" ? " active" : "")" href="/TodoItem/Completed">Completed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link@(Model.Label == "Incomplete" ? " active" : "")" href="/TodoItem/Incomplete">Incomplete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        let testButton = $("#throwaway");

        testButton.click(function() {
            alert(testButton.val());
        });

        $(".toggle-expand").click(function() {
            let thisElement = $(`#${$(this).attr("id")}`);
            let thisId = $(thisElement).val();

            $.ajax({
                type: "PUT",
                url: `/todoitem/toggleexpanded/${thisId}`,
                success: function (response) {
                    // Handle the API response as needed
                    console.log("Todo list item toggled successfully");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle API error
                    console.error("Error adding toggling todo list item:", error);
                    $(`#alert${thisId}`).text("An error occurred")
                }
            });
        });

        $(".toggle-status").click(function() {
            let thisElement = $(`#${$(this).attr("id")}`);
            let thisId = $(thisElement).val();

            thisElement.prop("disabled", true);
            $(`#new-item-label${thisId}`).prop("disabled", true);

            $.ajax({
                type: "PUT",
                url: `/todoitem/togglestatus/${thisId}`,
                success: function (response) {
                    // Handle the API response as needed
                    console.log("Todo list item toggled successfully");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle API error
                    console.error("Error adding toggling todo list item:", error);
                    $(`#alert${thisId}`).text("An error occurred")
                }
            });
        });

        $(".add-item").click(function () {
            let thisElement = $(`#${$(this).attr("id")}`);
            let thisId = $(thisElement).val();

            thisElement.prop("disabled", true);

            let userData = {
                Label: $(`#new-item-label${thisId}`).val(),
                ParentId: thisId,
                Status: 'i'
            };

            console.log(userData);

            $.ajax({
                type: "POST",
                url: `/todoitem/add/${thisId}`,
                data: JSON.stringify(userData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // Handle the API response as needed
                    console.log("Todo list item added successfully");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle API error
                    console.error("Error adding todo list item:", error);
                    $(`#alert${thisId}`).text("An error occurred")
                }
            });
        });

        $(".edit-item").click(function() {
            let thisElement = $(`#${$(this).attr("id")}`);
            let thisId = $(thisElement).val();

            thisElement.prop("hidden", true);

            $(`#save-item${thisId}`).prop("hidden", false);
            $(`#edit-item-label${thisId}`).prop("disabled", false);
        });

        $(".save-item").click(function() {
            let thisElement = $(`#${$(this).attr("id")}`)
            let thisId = $(thisElement).val();

            thisElement.prop("disabled", true);
            thisLabel = $(`#edit-item-label${thisId}`);
            thisLabel.prop("disabled", true);

            let userData = {
                Label: thisLabel.val()
            };

            $.ajax({
                type: "PUT",
                url: `/todoitem/updatelabel/${thisId}`,
                data: JSON.stringify(userData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // Handle the API response as needed
                    console.log("Todo list item updated successfully");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle API error
                    console.error("Error updating todo list item:", error);
                    $(`#alert${thisId}`).text("An error occurred")
                }
            });
        });
    });
</script>
