@model dwindlist.Models.ViewModel.FilteredList
@{
    ViewData["Title"] = "Home Page";
}

<h1>dwindlist</h1>
<div class="breadcrumbs">
  <a href="/TodoItem/Index">dwindlist</a>
  > @Model.Label
</div>

<div class="container mt-4">
    <div class="row">
        @await Html.PartialAsync("_Navigation", Model.Label)

        <div id="todo-list">
            @foreach(var item in Model.Items)
            {
            <div class="text-danger custom-alert" role="alert" id="alert@(item.Id)"></div>
            <div class="input-group mb-3 filtered-item@(item.Id)" style="width: 100%;">
                <div class="input-group-text">
                    <input class="toggle-status" type="checkbox" id="toggle-status@(item.Id)" value="@item.Id" aria-label="Main Checkbox" @(item.Status == 'c' ? "checked" : "")>
                </div>
                <input type="text" disabled="true" class="form-control @(item.Status == 'c' ? "text-decoration-line-through": "")" id="edit-item-label@(item.Id)" aria-label="Text input with checkbox" value="@item.Label">
                <button onclick="window.location.href='/TodoItem/Index/@(item.Id)'"class="btn btn-sm btn-secondary expand-item" id="expand-item@(item.Id)" value="@item.Id">Focus</button>
                <button class="btn btn-sm btn-success edit-item" id="edit-item@(item.Id)" value="@item.Id">Edit</button>
                <button class="btn btn-sm btn-primary save-item" id="save-item@(item.Id)" value="@item.Id" hidden>Save</button>
                    <button class="btn btn-sm btn-danger delete-item" id="delete-item@(item.Id)" value="@item.Id">Delete</button>
            </div>
            @*TODO: breadcrumbs*@
            <div class="breadcrumbs filtered-item@(item.Id)">
                @foreach (var breadcrumb in item.Breadcrumbs)
                {
                <span>></span> <a href="/TodoItem/Index/@(breadcrumb.Id)">@breadcrumb.Label</a>
                }
            </div>
            }
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Deletion</h5>
                    <button type="button" class="close cancel-delete" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete "<span id="delete-modal-name"></span>"?
                    </p>
                    <p>
                        It and all its children will be permanently removed from your list!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-delete">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete" value="">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
