@model dwindlist.Models.ViewModel.FilteredList
@{
    ViewData["Title"] = "Home Page";
}

<h1>dwindlist</h1>
<div class="breadcrumbs">
  <a href="/TodoItem/Index">dwindlist</a>
  > @Model.Label
</div>

<div class="container mt-4">
    <div class="row">
        @{Html.RenderPartial("_Navigation", Model.Label);}

        <div id="todo-list">
            @foreach(var item in Model.Items)
            {
            <div class="input-group mb-3" style="width: 100%;">
                <div class="input-group-prepend" style="width: 30px;">
                    <div class="input-group-text">
                        <input type="checkbox" class="toggle-status" id="toggle-status@(item.Id)" value="@item.Id" aria-label="Main Checkbox" @(item.Status == 'c' ? "checked" : "")>
                    </div>
                </div>
                <input type="text" disabled="true" class="form-control @(item.Status == 'c' ? "text-decoration-line-through": "")" id="edit-item-label@(item.Id)" aria-label="Text input with checkbox" value="@item.Label">
                <button onclick="window.location.href='/TodoItem/Index/@(item.Id)'"class="btn btn-sm btn-secondary expand-item" id="expand-item@(item.Id)" value="@item.Id">Focus</button>
                <button class="btn btn-sm btn-success edit-item" id="edit-item@(item.Id)" value="@item.Id">Edit</button>
                <button class="btn btn-sm btn-primary save-item" id="save-item@(item.Id)" value="@item.Id" hidden>Save</button>
                <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            @*TODO: breadcrumbs*@
            <div class="breadcrumbs">
                @foreach (var breadcrumb in item.Breadcrumbs)
                {
                <span>></span> <a href="/TodoItem/Index/@(breadcrumb.Id)">@breadcrumb.Label</a>
                }
            </div>
            }
        </div>
    </div>
</div>
