@model dwindlist.Models.ViewModel.TodoList
@{
    ViewData["Title"] = "Home Page";
}

<h1>dwindlist</h1>
<div class="breadcrumbs">
    <a href="/TodoItem/Index">dwindlist</a>
    @foreach (var breadcrumb in Model.Breadcrumbs)
    {
    <span>></span> <a href="/TodoItem/Index/@(breadcrumb.Id)">@breadcrumb.Label</a>
    }
    > @Model.Label
</div>

<div class="container mt-4">
    <div class="row">
        @await Html.PartialAsync("_Navigation", "All")

        <div class="text-danger add-alert" role="alert" id="add-alert@(Model.RootId)"></div>
        <div class="form-group">
            <label class="pt-2" for="new-item-label@(Model.RootId)">New Task:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="new-item-label@(Model.RootId)">
                <div class="input-group-append">
                    <button class="btn btn-primary add-item" type="button" id="add-item@(Model.RootId)" value="@Model.RootId">+</button>
                </div>
            </div>
        </div>

        <div id="todo-list">
            @foreach(var item in Model.Items)
            {
            <div class="text-danger custom-alert" role="alert" id="alert@(item.Id)"></div>
            <div class="input-group mb-3 pt-2 todo-item@(item.Id)" style="width: 100%;">
                    <div class="input-group-text">
                        <input type="checkbox" class="toggle-status" id="toggle-status@(item.Id)" value="@item.Id" aria-label="Main Checkbox" @(item.Status == 'c' ? "checked" : "")>
                    </div>
                <input type="text" disabled="true" class="form-control @(item.Status == 'c' ? "text-decoration-line-through": "")" id="edit-item-label@(item.Id)" aria-label="Text input with checkbox" value="@item.Label">
                <button class="btn btn-sm btn-secondary toggle-expand" id="toggle-expand@(item.Id)" value="@item.Id">@(item.Expanded == 'c' ? ">" : "V")</button>
                <button onclick="window.location.href='/TodoItem/Index/@(item.Id)'"class="btn btn-sm btn-secondary expand-item" id="expand-item@(item.Id)" value="@item.Id">Focus</button>
                <button class="btn btn-sm btn-success edit-item" id="edit-item@(item.Id)" value="@item.Id">Edit</button>
                <button class="btn btn-sm btn-secondary cancel-item" id="cancel-item@(item.Id)" value="@item.Id" hidden>Cancel</button>
                <button class="btn btn-sm btn-primary save-item" id="save-item@(item.Id)" value="@item.Id" hidden>Save</button>
                <button class="btn btn-sm btn-danger delete-item" id="delete-item@(item.Id)" value="@item.Id">Delete</button>
            </div>
            <div class="col-md-11 float-end todo-item@(item.Id) parent-item" id="parent-item@(item.Id)" @(item.Expanded == 'c' ? "hidden" : "")>
                <div class="text-danger add-alert" role="alert" id="add-alert@(item.Id)"></div>
                    <div class="form-group">
                        <label class="pt-2" for="new-item-label@(item.Id)">New Sub-task:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="new-item-label@(item.Id)">
                            <div class="input-group-append">
                                <button class="btn btn-primary add-item" type="button" id="add-item@(item.Id)" value="@item.Id">+</button>
                            </div>
                        </div>
                    </div>
                @foreach(var subitem in item.Children)
                {
                <div class=todo-item@(subitem.Id)>
                    <div class="text-danger custom-alert" role="alert" id="alert@(subitem.Id)"></div>
                    <div class="input-group mb-3 pt-2" style="width: 100%;">
                        <div class="input-group-text">
                            <input type="checkbox" class="toggle-status" id="toggle-status@(subitem.Id)" value="@subitem.Id" aria-label="Main Checkbox" @(subitem.Status == 'c' ? "checked" : "")>
                        </div>
                    <input type="text" disabled="true" class="form-control @(subitem.Status == 'c' ? "text-decoration-line-through": "")" id="edit-item-label@(subitem.Id)" aria-label="Text input with checkbox" value="@subitem.Label">
                    <button onclick="window.location.href='/TodoItem/Index/@(subitem.Id)'" class="btn btn-sm btn-secondary expand-item" id="expand-item@(subitem.Id)" value="@subitem.Id">Focus</button>
                    <button class="btn btn-sm btn-success edit-item" id="edit-item@(subitem.Id)" value="@subitem.Id">Edit</button>
                    <button class="btn btn-sm btn-secondary cancel-item" id="cancel-item@(subitem.Id)" value="@subitem.Id" hidden>Cancel</button>
                    <button class="btn btn-sm btn-primary save-item" id="save-item@(subitem.Id)" value="@subitem.Id" hidden>Save</button>
                    <button class="btn btn-sm btn-danger delete-item" id="delete-item@(subitem.Id)" value="@subitem.Id">Delete</button>
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">Confirm Deletion</h5>
                    <button type="button" class="close cancel-delete" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-dark">
                        Are you sure you want to delete "<span class="text-dark" id="delete-modal-name"></span>"?
                    </p>
                    <p class="text-dark">
                        It and all its children will be permanently removed from your list!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-delete">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete" value="">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
