@model dwindlist.Models.ViewModel.TodoList
@{
    ViewData["Title"] = "Home Page";
}

<h1>dwindlist</h1>
<div class="breadcrumbs">
    <a href="/TodoItem/Index">dwindlist</a>
    @foreach (var breadcrumb in Model.Breadcrumbs)
    {
    <span>></span> <a href="/TodoItem/Index/@(breadcrumb.Id)">@breadcrumb.Label</a>
    }
    > @Model.Label
</div>

<div class="container mt-4">
    <div class="row">
        @await Html.PartialAsync("_Navigation", "All")

        <div class="form-group add-form" data-item-id="@Model.RootId">
            <div class="text-danger add-alert" role="alert"></div>
            <label class="pt-2" for="new-item-label@(Model.RootId)">New Task:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control new-item-label" id="new-item-label@(Model.RootId)>
                <div class="input-group-append">
                    <button class="btn btn-add add-button" type="button">+</button>
                </div>
            </div>
        </div>

        <div id="todo-list">
            @foreach(var item in Model.Items)
            {
            <div class="todo-item" data-item-id="@item.Id" data-item-type="parent">
                <div class="text-danger custom-alert" role="alert"></div>
                <div class="input-group mb-3 pt-2" style="width: 100%;">
                    <div class="input-group-text">
                        <input type="checkbox" class="status-checkbox" aria-label="Main Checkbox" @(item.Status == 'c' ? "checked" : "")>
                    </div>
                    <input type="text" disabled="true" class="form-control item-label @(item.Status == 'c' ? "text-decoration-line-through": "")" aria-label="Text input with checkbox" value="@item.Label">
                    <button class="btn btn-sm btn-dropdown expand-button">@(item.Expanded == 'c' ? ">" : "v")</button>
                    <button onclick="window.location.href='/TodoItem/Index/@(item.Id)'"class="btn btn-sm btn-focus">Focus</button>
                    <button class="btn btn-sm btn-edit edit-button">Edit</button>
                    <button class="btn btn-sm btn-secondary cancel-button" hidden>Cancel</button>
                    <button class="btn btn-sm btn-primary save-button" hidden>Save</button>
                    <button class="btn btn-sm btn-delete delete-button">Delete</button>
                </div>
                <div class="ms-5 sublist" data-parent-id="@item.Id" @(item.Expanded == 'c' ? "hidden" : "")>
                    <div class="form-group add-form" data-item-id="@item.Id">
                        <div class="text-danger add-alert" role="alert"></div>
                        <label class="pt-2" for="new-item-label@(item.Id)">New Sub-task:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control new-item-label" id="new-item-label@(item.Id)">
                            <div class="input-group-append">
                                <button class="btn btn-add add-button" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    @foreach(var subitem in item.Children)
                    {
                    <div class="todo-item" data-item-id="@subitem.Id">
                        <div class="text-danger custom-alert" role="alert"></div>
                        <div class="input-group mb-3 pt-2" style="width: 100%;">
                            <div class="input-group-text">
                                <input type="checkbox" class="status-checkbox" aria-label="Main Checkbox" @(subitem.Status == 'c' ? "checked" : "")>
                            </div>
                            <input type="text" disabled="true" class="form-control item-label @(subitem.Status == 'c' ? "text-decoration-line-through": "")" aria-label="Text input with checkbox" value="@subitem.Label">
                            <button onclick="window.location.href='/TodoItem/Index/@(subitem.Id)'" class="btn btn-sm btn-focus">Focus</button>
                            <button class="btn btn-sm btn-edit edit-button">Edit</button>
                            <button class="btn btn-sm btn-secondary cancel-button" hidden>Cancel</button>
                            <button class="btn btn-sm btn-primary save-button" hidden>Save</button>
                            <button class="btn btn-sm btn-delete delete-button">Delete</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">Confirm Deletion</h5>
                    <button type="button" class="close cancel-delete" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-dark">
                        Are you sure you want to delete "<span class="text-dark" id="delete-modal-name"></span>"?
                    </p>
                    <p class="text-dark">
                        It and all its children will be permanently removed from your list!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-delete">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete" value="">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
